In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('archive/credit_train.csv')
df2 = pd.read_csv('archive/credit_test.csv')

In [5]:
df1.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [7]:
df1 = df1.drop_duplicates()
df1 = df1.drop(columns=['Loan ID', 'Customer ID'], axis=1)

In [8]:
print(df1.isnull().sum())

Loan Status                         1
Current Loan Amount                 1
Term                                1
Credit Score                    19155
Annual Income                   19155
Years in current job             3803
Home Ownership                      1
Purpose                             1
Monthly Debt                        1
Years of Credit History             1
Months since last delinquent    48338
Number of Open Accounts             1
Number of Credit Problems           1
Current Credit Balance              1
Maximum Open Credit                 3
Bankruptcies                      191
Tax Liens                          10
dtype: int64

isnull().sum() checks for missing values in the DataFrame

Now we're going to split columns into categorical vs. numerical

In [9]:
cat_list = df1.select_dtypes(include='object').columns.tolist()
num_list = df1.select_dtypes(exclude='object').columns.tolist()
print("Categorical:", cat_list)
print("Numerical:", num_list)

Categorical: ['Loan Status', 'Term', 'Years in current job', 'Home Ownership', 'Purpose']
Numerical: ['Current Loan Amount', 'Credit Score', 'Annual Income', 'Monthly Debt', 'Years of Credit History', 'Months since last delinquent', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit', 'Bankruptcies', 'Tax Liens']

This is for handling missing values

In [ ]:
# standardize nulls to np.nan, so pandas recognizes them as missing
df1.replace(['nan','NaN','NULL','',' '], np.nan, inplace=True)

# loops through each category, replaces missing values with the mode
for col in ['Loan Status', 'Term', 'Home Ownership', 'Years in current job']:
    df1[col].fillna(df1[col].mode()[0], inplace=True)

# numerical fills, some are filled with 0, some use median or mode
df1['Current Loan Amount'].fillna(0, inplace=True)
df1['Credit Score'].fillna(0, inplace=True)
df1['Annual Income'].fillna(0, inplace=True)
df1['Monthly Debt'].fillna(0, inplace=True)
df1['Years of Credit History'].fillna(df1['Years of Credit History'].median(), inplace=True)
df1['Months since last delinquent'].fillna(df1['Months since last delinquent'].median(), inplace=True)
df1.dropna(subset=['Number of Open Accounts', 'Current Credit Balance'], inplace=True)
df1['Number of Credit Problems'].fillna(df1['Number of Credit Problems'].mode()[0], inplace=True)
df1['Maximum Open Credit'].fillna(df1['Maximum Open Credit'].median(), inplace=True)
df1['Bankruptcies'].fillna(df1['Bankruptcies'].mode()[0], inplace=True)
df1['Tax Liens'].fillna(df1['Tax Liens'].mode()[0], inplace=True)